body {
  background-color: rgb(231, 231, 231);
}
#header .container-fluid {
  color: white;
  background-color: brown;
}

#sidebar{
  background-color: rosybrown;
  height: 100vh;
}

#sidebar .nav-link:hover {
  background-color: brown;
}

#sidebar .active {
  background-color: brown;
}